modules = ["web", "nodejs-20", "python-3.11"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Aznaf Market Website"

[[workflows.workflow]]
name = "Aznaf Market Website"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python config.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33183
externalPort = 3000

[[ports]]
localPort = 34891
externalPort = 3003

[[ports]]
localPort = 35653
externalPort = 3001

[[ports]]
localPort = 35677
externalPort = 8008

[[ports]]
localPort = 37711
externalPort = 8080

[[ports]]
localPort = 39841
externalPort = 5000

[[ports]]
localPort = 39945
externalPort = 5173

[[ports]]
localPort = 40533
externalPort = 6000

[[ports]]
localPort = 42933
externalPort = 8081

[[ports]]
localPort = 45709
externalPort = 8000

[[ports]]
localPort = 46295
externalPort = 6800

[[ports]]
localPort = 46347
externalPort = 4200

[[ports]]
localPort = 46875
externalPort = 3002

[nix]
channel = "stable-25_05"
